@use '@/styles/index' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .form_content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 100%;

    .form_item {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .item_title {
        @include Heading-03;
        color: var(--gray-5);
      }

      .item_content {
        display: flex;
        flex-direction: column;

        gap: 12px;

        .with_button {
          display: flex;
          align-items: center;
          gap: 16px;

          & > :first-child {
            flex: 3;
          }

          & > :nth-child(2) {
            flex: 1;
          }
        }
      }
    }
  }

  .form_button {
    display: flex;
    width: 100%;
    margin-top: 40px;
  }
}
